*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.5rem;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    background-color: aliceblue;
}

div:not(.content) {
    background-color: rgb(214, 214, 214);
    padding: 2rem;
}

div.content {
    display: flex;
    gap: 1rem;
}

div.content > div:nth-child(1) {
    flex-grow: 1;
}

div.content > div:nth-child(2) {
    flex-grow: 2;
}