*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
}
header {
    height: 100px;
    line-height: 100px;
    background-color: rgb(123, 100, 100);
}

footer {
    height: 80px;
    line-height: 80px;
    background-color: rgb(174, 218, 174);
}

section{
    height: auto;
    background-color: rgb(214, 214, 214);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section > div.box {
    background: rgb(133, 216, 255);
    width: 200px;
    height: 200px;
}

div#box {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(164, 219, 215);
}



#box > div.box {
    background: #eaffa5;
    width: 200px;
    flex-grow: 1;
}
