*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 5rem;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.sub-text {
    color: rgb(156, 156, 156);
    margin-bottom: 1.5rem;
}

.contact {
    display: flex;
    gap: 30rem;
    background-color: antiquewhite;
    padding: 1rem 3rem;
    padding-top: 2rem;
    margin: 2rem 0rem;
}

section {
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}

ul li {
    list-style: none;
    margin-bottom: 1rem;
    
}

.col h1 {
    color: #496ecb;
}

.col div > * {
    margin-bottom: .5rem;
}

.col > div {
    margin-bottom: 3rem;
}

.list
{
    display: flex;
    flex-direction: column;
}


.tech h2 {
    font-size: 1.3rem;
    color: rgb(71, 71, 71);
    margin-bottom: .7rem;
}

.tech p {
    font-size: 1rem;
    color: rgb(125, 125, 125);
    margin-bottom: 2rem;
}

.badges {
    display: flex;
    gap: 1rem;
    max-width: 400px;
    flex-wrap: wrap;
}

.badge {

    background-color: #37538b;
    color: #eaeaea;
    padding: .3rem 1rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: max-content;
}

ul li {
    display: flex;
    align-items: center;
    gap: .5rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}