* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    /* background-image: url(../assests/car.avif);
    background-size: cover;
    background-position: top left; */
    /* background-repeat: repeat-x; */
    /* background: url(../assests/car.avif) no-repeat top left; */
    /* background-size: cover; */
    
}

div p {
    font-size: 2.5rem;
    color: #fff;
    font-family: monospace;
    font-weight: 400;
    text-shadow: 3px 3px 5px #000;
    text-decoration: underline;
    text-align: center;
    display: inline;
}
#para {
    color: rgb(246, 175, 82);
    text-shadow: 3px 3px 5px #000;
    text-transform: uppercase;
    
}

img {
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: .2rem solid #000;
}